.putting-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px 0 10px;
}

.putting-overview .title {
  margin: 0;
  font-size: 2em;
}

.coming-soon {
  color: green;
  font-weight: bold;
}

.putting-overview p {
  margin: 10px 0 10px 0;
  font-size: 1em;
  padding: 0 10px 0 10px;
  text-align: center;
}

.canvas-container {
  margin: 5px;
  border: 3px solid gray;
  border-radius: 15px;
  background-image: url('../resources/images/DG_Basket.png')
}

.data-table {
  width: 300px;
  margin: 5px;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .putting-overview .description {
    font-size: 1.25em;
  }
}
