.app-title {
  font-size: 1.25em;
}

.app-secondary-title {
  font-size: .9em;
}

@media only screen and (min-width: 480px) {
  .app-title {
    font-size: 2em;
  }

  .app-secondary-title {
    font-size: 1.25em;
  }
}
