.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title {
  margin-bottom: 0;
  font-size: 1.25em;
}

.home .description {
  margin-top: 0;
  font-size: .9em;
  color: gray;
}

.get-started {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #00b33c;
  color: white;
  box-shadow: 3px 3px 5px #006622;
}

.get-started:hover {
  background-color: #00cc44;
  box-shadow: 3px 3px 5px #00802b;
}

@media only screen and (min-width: 480px) {
  .home .title {
    font-size: 2em;
  }

  .home .description {
    font-size: 1.25em;
  }
}
