/* .title and .page-header style is referenced from log-putt.css */
.about {
  margin: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  width: 300px;
}

.divider {
  width: 350px;
}

.overview {
  width: 300px;
}

.about .description {
  margin: 5px 0 5px 0;
  font-size: .9em;
  color: gray;
  text-align: justify;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-title {
  margin: 25px 0 5px 0;
  font-size: 1.1em;
  text-align: left;
}

.resource-list {
  width: 300px;
  margin: 5px 0 5px 0;
  padding: 0;
}

.resources li {
  list-style: none;
  padding: 2px;
}

@media only screen and (min-width: 480px) {
  .about {
    margin: 25px 50px 0 50px;
  }

  .divider {
    width: 480px;
  }

  .page-header, .overview, .resource-list {
    width: 450px;
  }

  .about .description {
    font-size: 1.25em;
  }

  .resources-title {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 700px) {
  .divider {
    width: 750px;
  }

  .page-header, .overview, .resource-list {
    width: 700px;
  }

  .about .description {
    max-width: 700px;
  }
}
