/* .divider style is referenced from log-putt.css */
.log-putt {
  margin: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  margin: 5px 0 5px 0;
  font-size: 1.25em;
}

hr {
  width: 350px;
  margin-top: 0;
  margin-bottom: 25px;
}

.get-results, .reset-all-btn {
  margin: 5px;
  padding: 0px;
  background-color: white;
  color: #2171b5;
  box-shadow: none;
  text-decoration: none;
  font-size: .8em;
}

.reset-all-btn {
  border: none;
}

.log-putt-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags {
  width: 300px;
}

.tag-btn {
  margin: 2px 4px;
  padding: 2px 8px 2px 8px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px black;
}

.tag-btn:hover {
  color: #d9d9d9;
  background-color: #525252;
  border-color: #252525;
}

.active {
  color: #d9d9d9;
  background-color: #006622;
  border-color: #00441b;
}

.get-results:hover, .reset-all-btn:hover {
  color: #006622;
  background-color: white;
  box-shadow: none;
}

@media only screen and (min-width: 480px) {
  .title {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 700px) {
  .title {
    font-size: 2em;
  }
}
