/* provides styles of .title, .divider, and .page-header classes to src/about/about.css */
#log-putt {
  margin: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  margin: 5px 0 5px 0;
  font-size: 1.25em;
}

.divider {
  width: 350px;
  margin-top: 0;
  margin-bottom: 25px;
}

.page-header-option {
  margin: 5px;
  padding: 0px;
  background-color: white;
  color: #2171b5;
  box-shadow: none;
  text-decoration: none;
  font-size: .8em;
  border: none;
}

#log-putt-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags {
  width: 300px;
}

.active {
  color: #d9d9d9;
  background-color: #006622;
  border-color: #00441b;
}

.page-header-option:hover {
  color: #006622;
  background-color: white;
  box-shadow: none;
}

@media only screen and (min-width: 480px) {
  .title {
    font-size: 1.5em;
  }

  .page-header {
    width: 450px;
  }

  .divider {
    width: 480px;
  }
}

@media only screen and (min-width: 700px) {
  .title {
    font-size: 2em;
  }

  .page-header {
    width: 700px;
  }

  .divider {
    width: 750px;
  }
}
