.log-putt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.putt-info {
  margin-top: 0;
}

.master-controls {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
}
