/* .title and .page-header style is referenced from log-putt.css */
/* .divider style is referenced from log-putt.css */
.putting-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px 0 10px;
}

.coming-soon {
  color: green;
  font-size: .6em;
  margin: 5px 0 5px 0;
}

#no-data {
  margin: 10px 0 10px 0;
  font-size: .7em;
  padding: 0 10px 0 10px;
  text-align: center;
}

.canvas-container {
  margin: 5px;
  border: 3px solid gray;
  border-radius: 15px;
  background-image: url('../resources/images/DG_Basket.png')
}

.data-table {
  width: 300px;
  margin: 5px;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .coming-soon {
    font-size: 1em;
  }

  #no-data {
    font-size: 1em;
  }
}
