/* .title, .divider, and .page-header style is referenced from src/log-putt/log-putt.css */
/* .canvas-container style is referenced from src/log-putt/display-putt/display-putt.css */
#putting-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px 0 10px;
}

#coming-soon {
  color: green;
  font-size: .6em;
  margin: 5px 0 5px 0;
}

#no-data {
  margin: 10px 0 10px 0;
  font-size: .7em;
  padding: 0 10px 0 10px;
  text-align: center;
}

#valid-putting-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-table {
  table-layout: fixed;
  width: 350px;
  max-height: 350px;
  overflow: auto;
  margin: 10px;
  border: 2px solid #c6dbef;
  color: #08306b;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 40%;
}

th, td {
  padding: 5px;
}

th {
  font-size: .8em;
  background-color: #c6dbef;
  text-align: left;
}

td {
  font-size: .7em;
}

tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
  background-color: white;
}

@media only screen and (min-width: 480px) {
  #coming-soon {
    font-size: 1em;
  }

  #no-data {
    font-size: 1em;
  }

  .data-table {
    width: 450px;
  }

  th {
    font-size: 1em;
  }

  td {
    font-size: .9em;
  }
}

@media only screen and (min-width: 700px) {
  .data-table {
    width: 700px;
  }
}
