/* .canvas-container style is referenced from src/log-putt/display-putt/display-putt.css */
#coming-soon {
  font-size: .6em;
}

@media only screen and (min-width: 480px) {
  #coming-soon {
    font-size: .8em;
  }
}

@media only screen and (min-width: 700px) {
  #coming-soon {
    font-size: .9em;
  }
}
