.header-container {
  background-color: #3d3c3c;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-home {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-logo {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}

.header-title {
  visibility: hidden;
  margin: 0;
  padding: 0 5px 0 5px;
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.header-nav {
  padding-right: 20px;
}

.header-results, .header-log, .header-about {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding-left: 10px;
}

.header-log, .header-about {
  padding-right: 10px
}

.header-results:hover, .header-log:hover, .header-about:hover, .header-title:hover {
  color: #00b33c;
}

@media only screen and (min-width: 480px) {
  .header-home {
    padding-left: 25px;
  }

  .header-title {
    visibility: visible;
  }

  .header-nav {
    padding-right: 25px;
  }
}
