.canvas-container {
  border: 3px solid gray;
  border-radius: 15px;
  width: 300px;
  background: url('https://res.cloudinary.com/joeschmoe1/image/upload/f_auto,q_auto/v1541376067/putting-logbook/DG_Basket.png') no-repeat;
}
